#application-prod.yml

awsParameterStorePropertySource:
  enabled: true

aws:
  paramstore:
    enabled: true
    prefix: /config
    name: mysql
    profile-separator: _

spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DATABASE_URL}:3306/foreco_mysql?&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    hikari:
      maximum-pool-size: 30

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect

cloud:
  aws:
    credentials:
      keys:
        - access-key: ${S3_ACCESS}
          secret-key: ${S3_SECRET}
        - access-key: ${DYNAMO_ACCESS}
          secret-key: ${DYNAMO_SECRET}
    s3:
      bucket: ${S3_BUCKET}
    stack:
      auto: false
    region:
      static: ap-northeast-2


logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace
        SQL: debug

oauth2:
  kakao:
    infoUrl: https://kapi.kakao.com
    baseUrl: https://kauth.kakao.com
    clientId: dd6c51dc02204dacd84d70e52a877d8f
    #TODO: 실제 배포 도메인 주소로 바꿔야 함
    redirectUri: https://foreco.store/api/v1/account/kakao/result
    secretKey: ${SECRET_KEY}

ai:
  modelUrl: ${AI_URL}
